/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background: #2b3135;
}

.board {
  position: relative;
}

.scoreboard {
  color: #ff00de;
  padding: 20px;
  display: inline-block;
}

.enemies {
  position: absolute;
}

.hero {
  width: 10px;
  height: 10px;
  border: 1px solid #a80000;
  background-color: #00cece;
  border-radius: 5px;
  position: absolute;
}
